NotGit/

Pods/
Podfile.lock

ClassPod.xcodeproj/xcuserdata/
ClassPod.xcworkspace/
ClassPod.xcodeproj/project.xcworkspace/xcuserdata/
ClassPod.xcodeproj/project.xcworkspace/xcshareddata/
ClassPod.xcodeproj/xcworkspace/xcuserdata/

.DS_Store
.Trashes
*.swp
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xccheckout
xcuserdata/
*.moved-aside
